Options +FollowSymLinks
RewriteEngine On
RewriteBase /onlinecustomer/sms/

# Remove .php extension for files in this directory
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L]
